sudo: true
dist: trusty

language: rust


rust:
  - nightly

before_install:
  - sudo apt-get update -q
  - sudo apt-get install libcurl4-openssl-dev libelf-dev libdw-dev libssl-dev libevent-dev libboost-all-dev binutils-dev

install:
  - git clone https://github.com/bitcoin/bitcoin
  - cd bitcoin
  - ./autogen.sh && ./configure --without-daemon --without-utils --without-gui --disable-wallet --disable-bench --disable-zmq --disable-man --disable-tests --disable-gui-tests && make && sudo make install
  - sudo ldconfig /usr/local/lib
  - cd ..

# load travis-cargo
before_script:
  - |
      cargo install cargo-travis &&
      export PATH=$HOME/.cargo/bin:$PATH

# the main build
script:
  - |
    cargo build --all &&
    cargo test --all

after_success:
  - cargo coveralls --exclude-pattern tests/,script/,bitcoin/src/,encode-derive/ --all


